@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>Verifique o usuário no banco de dados a url da API na classe configuração DWFIAP.WebApp.Configuration.Config</p>
</div>
